*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #384047;
}

form {
  max-width: 750px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 0;
  /***background: #e0e0e0;***/
}

a {
  color: firebrick;
  text-decoration: none;
}

.date {
  padding: 2px;
  display: inline-block;
  box-sizing: border-box;
}

.height {
  padding: 2px;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
}

.state {
  width: 33.3%;
  float-left;
}

#weight {
  width: 33.3%;
}

.health a, .tobacco a,
.amount a, .length a,
.mode a {
  float: right;
  margin-left: 30px;
  font-size: 0.8em;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #777;
  font-size: 20px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  color: #000;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 25px;
}

input[type="text"]:focus {
  border: 2px solid firebrick;
}

input[type="email"]:focus {
  border: 2px solid firebrick;
}

input[type="tel"]:focus {
  border: 2px solid firebrick;
}

textarea:focus {
  border: 2px solid firebrick;
}

select:focus {
  border: 2px solid firebrick;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  height: auto;
  font-size: 20px;
}

.radio label {
  display: inline;
  padding-right: 25px;
}

select {
  padding: 6px;
  height: auto;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #0bb5ff;
  background-color: #fff;
  font-size: 28px;
  text-align: center;
  font-style: normal;
  border-radius: 0;
  width: 50%;
  border: 1px solid #0bb5ff;
  border-color: #0bb5ff;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1)       inset;
  margin-bottom: 10px;
  transition-property: background;
  transition-duration: .25s;
  transition-timing-function: linear;
  
}

button:hover {
  background-color: #0bb5ff;
  color: #fff;
}

button:focus {
  background-color: #0bb5ff;
  color: #fff;
}

fieldset {
  margin-bottom: 15px;
  border: none;
}

legend {
  font-size: 2.0em;
  margin-bottom: 25px;
}

label {
  font-size: 1.4em;
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 400;
  display: inline;
}

.number {
  background-color: firebrick;
  color: #fff;
  height: 35px;
  width: 35px;
  display: inline-block;
  font-size: 0.9em;
  margin-top: 15px;
  margin-right: 4px;
  line-height: 35px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {}